Using the information provided below, extract the following attributes: {{ attributes_list }}.

Product Information:

Title: "{{ item_title }}"
Short Description: "{{ short_description }}"
Long Description: "{{ long_description }}"

Provide the extracted attributes in the following JSON format:

{
  "attributes": {
    "attribute_name_1": "value",
    "attribute_name_2": "value",
    ...
  }
}
