{% extends "base_templates/title_enhancement_base.jinja2" %}

{% block family_specific_prefix %}
<|begin_of_text|><|start_header_id|>system<|end_header_id|>
{% endblock %}

{% block family_specific_suffix %}
<|eot_id|><|end_of_text|>
{% endblock %}
